

.root{
    -fx-background-color: #e1ffeb;
    -fx-font-size: 14px;
}

#createText{
    -fx-font-family: "Segoe UI Black";
    -fx-font-size: 24px;
    -fx-fill: #004f32;
}

.label{
    -fx-text-fill: #24484C;
}
#signinBtn{
    -fx-background-color: #1cbe8e;
    -fx-text-fill: #24484C;
    -fx-border-radius: 15px;
}

#signinBtn:hover{
    -fx-background-color: #004f32;
    -fx-text-fill: white;
}